$font-heading: 'Montserrat-Bold', sans-serif;
$font-menu: 'Montserrat-Regular', sans-serif;
$font-span: 'KaushanScript-Regular', sans-serif;
$font-article: 'Roboto-Regular', sans-serif;
$font-position: 'Roboto-LightItalic', sans-serif;

/*colors*/
$header-text-color: #ffffff;
$underscore-bg-color: #fce38a;
$heading-text-color: #333333;
$heading-after-text: #f38181;
$article-text-color:#999999;
$footer-border-color: #e5e5e5;
$footer-button-color: #95e1d3;
$placeholder-color: #cccccc;
