body {
    font-family: "Playfair Display";
    color: #626262;
    font-weight: 400;
}

.conteiner {
    width: 901px;
    margin: 0 auto;
    font-size: 0;
}

.header-nav {
    padding: 76px 0 104px;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
    text-align: center;
    vertical-align: middle;
}

li {
    display: inline-block;
}

li:not(:last-child) {
    margin-right: 92px;
}

li a {
    display: inline-block;
    color: #626262;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.list a:hover,
.list a:focus {
    color: #03a9f4;
}

.box {
    display: inline-block;
    width: 421px;
    margin-bottom: 138px;
}

.box:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

main .article {
    margin-right: 59px;
}

img {
    margin-bottom: 30px;
}

.font-ubuntu {
    font-family: "Ubuntu", seans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    color: #b4ad9e;
    margin-bottom: 30px;
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
    font-size: 30px;
}

article .text {
    font-size: 14px;
    line-height: 24px;
}

button {
    width: 164px;
    height: 60px;
    margin-top: 54px;
    margin-right: 379px;
    margin-left: 358px;
    margin-bottom: 70px;
    padding: 0;
}

.footer-button {
    background-color: #ffffff;
    border-width: 1px;
    border-color: #000000;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
}