@font-face {
    font-family: "Droid-Serif-Italic";
    src: url(../fonts/Droid-Serif-Italic.woff);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.woff);
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.woff);
}

@font-face {
    font-family: "RobotoSlab-Regular";
    src: url(../fonts/RobotoSlab-Regular.woff);
}

@font-face {
    font-family: "Wisdom-Script-AJ";
    src: url(../fonts/Wisdom-Script-AJ.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* footer */

header,
.service,
.box-contact-position {
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}

.logo {
    text-decoration: none;
    padding-top: 31px;
    float: left;
    font-family: "Wisdom-Script-AJ", sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 41px;
    color: #fed136;
}

.navigation-item {
    float: left;
    list-style: none;
    padding-top: 37px;
}

.navigation-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 41px;
    color: #222222;
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: 400;
}

.navigation-item a:hover {
    color: #fed136;
}

.navigation-item:not(:last-child) {
    margin-right: 40px;
}

.navigation {
    float: right;

}

.navigation,
.service-menu {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* section */

.service,
.contact-header {
    text-align: center;
}

.service h2,
.contact h2 {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 75px;
}

.service h2 {
    color: #222222;
    padding-top: 110px;
}

.service p,
.contact p {
    font-size: 16px;
    color: #777777;
    font-family: "Droid-Serif-Italic";
    font-weight: 400;
    font-style: italic;
    padding-bottom: 77px;
}

.service h3,
::placeholder,
button,
.service h2,
.contact h2 {
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.service h3 {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 75px;
    color: #222222;
    text-transform: none;
}
.service-menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.service-menu-item {
    width: 290px;
}

.service-menu-item::before {
    display: block;
    content: "";
    width: 66px;
    height: 66px;
    border: 3px solid #fed136;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.icon-basket::before {
    background-image: url(../img/Icon-Basket.png);
}

.icon-laptop::before {
    background-image: url(../img/Icon-Laptop.png);
}

.icon-locked::before {
    background-image: url(../img/Icon-Locked.png);
}

/* contact */

.box-contact {
    background-color: #222222;
}

.box-contact img {
    float: right;
    margin: 117px 0 20px;
}

.box-contact-position {
    position: relative;
}

.contact {
    position: absolute;
    top: 0;
    left: 0;
}

.contact-header h2 {
    color: #ffffff;
    padding-top: 94px;
}

input,
textarea {
    width: 455px;
    border-radius: 2px;
    border: 1px solid #cccccc;
}

input:not(:nth-last-child(-n +2)) {
    height: 50px;
    margin-right: 30px;
    float: left;
    clear: left;
}

input:nth-child(2),
input:nth-child(3) {
    margin-top: 29px;
}

textarea {
    height: 208px;
}

::placeholder {
    font-size: 14px;
    letter-spacing: 0px;
    color: #bbbbbb;
    padding-left: 20px;
}

textarea::placeholder {
    padding-top: 17px;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
    background: #fdd;
}

input:focus:required:valid,
textarea:focus:required:valid {
    background: #dfd;
}



button {
    border-radius: 3px;
    border: none;
    background-color: rgb(254, 209, 54);
    left: 580px;
    top: 1138px;
    width: 240px;
    height: 66px;
    color: #ffffff;
    margin: 30px 0 0 350px;
    font-size: 18px;
}