@font-face {
    font-family: "Monserrat-Bold";
    src: url(../fonts/Montserrat-Bold.woff);
}

@font-face {
    font-family: "Monserrat-regular";
    src: url(../fonts/Montserrat-Regular.woff);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-conteiner {
    background: url(../img/Vector-Smart-Object1440.png);
    background-color: #1a1915;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* header, */
.conteiner-header {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo,
h2 {
    text-transform: uppercase;
    color: #ffffff;
}

h1 {
    font-size: 20px;
    margin: 0;

}

.login {
    padding-top: 20px;
    margin-bottom: 118px;
}

.login-item {
    display: inline-block;
    width: 90px;
    height: 36px;
    border-radius: 18px;
    border: 2px solid rgba(255, 255, 255, 0);
}

.login-item:hover {
    border: 2px solid rgba(255, 255, 255, 1);
}

.login-item a {
    font-size: 14px;
    line-height: 32px;
    color: #FFFFFF;
}

.login-item a,
.bottom-button-team a {
    display: block;
    width: 100%;
    height: 100%;
}

.header {
    margin-bottom: 36px;
}

.main-conteiner,
h2,
h3,
h4,
button,
.bottom-button-team {
    font-family: "Monserrat-Bold", sans-serif;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

h2 span {
    display: flex;
    justify-content: center;
}

p {
    font-family: "Roboto-Light", sans-serif;
}

.header-bottom-box p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 18px;
}


.login,
h1,
.header-bottom-box,
.team {
    text-align: center;
}

button,
.bottom-button-team {
    display: inline-block;
    width: 280px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    border: 1px solid #ff4e50;
    border-radius: 20px;
}

.bottom-button-team a {
    font-size: 14px;
    color: #ff4e50;
}

button {
    color: #ffffff;
    background-color: #ff4e50;
}

.header-bottom-box {
    padding-bottom: 138px;
}

h3 {
    font-size: 22px;
    padding-top: 72px;
    margin-bottom: 13px;
}

h4 {
    margin-bottom: 17px;
}

.team-menu-item p {
    font-size: 14px;
    color: #666666;
}

.team-menu-item {
    width: 220px;
    margin: 0 auto 24px;
}

img {
    display: block;
    padding: 4px 4px;
}

.team-img-box {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto 18px;
}

.team-img-box::after {
    display: flex;
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border: 4px solid #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
}

.partner1::after {
    background-image: url(../img/partner1-img.png);
    background-color: #ff4e50;
}

.partner2::after {
    background-image: url(../img/partner2-img.png);
    background-color: #1cd7ad;
}

.partner3::after {
    background-image: url(../img/partner3-img.png);
    background-color: #ffa507;
}

.partner4::after {
    background-image: url(../img/partner4-img.png);
    background-color: #4e73db;
}

.team-conteiner {
    padding-bottom: 57px;
}

@media (min-width: 768px) {

    .conteiner-header,
    .team {
        width: 100%;
        max-width: 748px;
        margin: 0 auto;
    }

    .team {
        max-width: 492px;
    }

    .team-conteiner {
        padding-bottom: 40px;
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    .login {
        float: right;
        padding-top: 38px;
        margin: 0;
    }

    .login-item:nth-child(2) {
        margin-right: 40px;
    }

    h1 {
        float: left;
        margin: 49px 0 0 40px;
    }

    .header {
        margin-bottom: 148px;
    }

    h2 {
        font-size: 52px;
        margin-bottom: 24px;
    }

    .header-bottom-box p {
        font-size: 24px;
        margin-bottom: 35px;
    }

    button {
        width: 225px;
    }

    .header-bottom-box {
        padding-bottom: 234px;
    }

    h3 {
        margin-bottom: 30px;
    }

    .team-menu-item {
        display: block;
        float: left;
        margin: 0;
    }

    .team-menu-item:not(:nth-last-child(-n +2)) {
        margin-bottom: 54px;
    }

    .team-menu-item:not(:nth-last-child(2n+1)) {
        margin-right: 20px;
    }

    .team-menu {
        margin-bottom: 38px;
    }

    .bottom-button-team {
        width: 192px;
    }
}


@media (min-width: 940px) {

    .conteiner-header,
    .team {
        width: 100%;
        max-width: 940px;
        margin: 0 auto;
    }

    .login-item:nth-child(2) {
        margin-right: 0;
    }

    h1 {
        margin-left: 0;
    }

    .team-menu-item:not(:nth-last-child(-n +1)) {
        margin: 0 20px 0 0;
    }

    .team-conteiner {
        padding-bottom: 73px;
    }

}