@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
header,
main,
.button-box {
    width: 1110px;
    margin: 0 auto;
}

/* header content */
header ul {
    float: right;
    margin-top: 41px;
}


a {
    text-transform: uppercase;
    text-decoration: none;
}

.header_menu a {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 11px;
    color: #000000;
}

.logo {
    float: left;
    font-family: "Roboto";
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    margin-top: 36px;
    color: #000000;
}

.logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
}

header {
    padding-bottom: 30px;
}

ul {
    list-style: none;
}

.header_menu :hover,
.header_menu :focus {
    color: #1abc9c;
}

li {
    float: left;
}

.header_menu li:not(:last-child) {
    margin-right: 35px;
}
.wallpaper img {
    width: 100%;
}
.wallpaper,
.box-overlay {
    position: relative;
}
.button-box {
    position: relative;
    height: 100%;
}
.slider {
    background-color: rgba(0, 0, 2, 52%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-ctrl {
    width: 104px;
    height: 104px;
    border: none;
    background-color: rgba(78, 198, 171, 65%);
    color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY( -50%);
    font-size: 100px;
}

.slider-ctrl-prev {
    left: 0;
    background-image: url(../img/left.png);
}

.slider-ctrl-next {
    right: 0;
    background-image: url(../img/right.png);
}

.slider-ctrl:hover {
    background-color: rgba(78, 198, 171, 100%);
}

.box-slider-text {
    width: 764px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.slider-text {
    font-family: "Roboto";
    color: #ffffff;
    text-transform: uppercase;
}
.upper-slider-text {
    font-size: 60px;
    line-height: 82px;
    font-weight: 900;
}
.footer-slider-text {
    font-size: 24px;
    line-height: 54px;
    font-weight: 300;
}
/* main_content */
.main-box {
    background-color: #e9f0fd;
}
h3,
.price,
.new-collection a {
    font-family: "Roboto";
    font-weight: 900;
    color: #515151;
}

h3 {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    line-height: 32px;
    padding-top: 101px;
}

h3::after {
    display: block;
    content: "";
    width: 164px;
    height: 7px;
    background: #4dc5ab;
    margin: 32px auto 92px;
}

img {
    display: block;
}

.new-collection li {
    width: 255px;
}

.new-collection li:not(:nth-child(4n)) {
    margin-right: 30px;
}

.new-collection li:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.bottom-card {
    width: 255px;
    background-color: #323232;
}

.product_text {
    display: inline-block;
    width: 184px;
    margin: 0 0 0 13px;


}

.product_text a {
    color: #ffffff;
    font-size: 18px;
    line-height: 40px;
}

.price {
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;

}

.price {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 54px;
    height: 40px;
    background-color: rgba(255, 255, 255, 44%);
}

.hover:hover .bottom-card,
.hover:focus .bottom-card {
    background-color: #19bb9b;
}

.hover:hover .price,
.hover:focus .price {
    background-color: rgba(255, 255, 255, 44%);
}

.new-collection :focus .bottom-card {
    background-color: #19bb9b;
}

.new-collection :focus .price {
    background-color: rgba(255, 255, 255, 44%);
}
.main_conteiner {
    padding-bottom: 100px;
}

.overlay {
    width: 100%;
    height: 100%;
    border: 10px solid rgba(255, 255, 255, 55%);
    background-color: rgba(0, 0, 0, 55%);
    position: absolute;
    box-sizing: border-box;
    background-clip: padding-box;
    top: 0;
    left: 0;
    opacity: 0;
}
.box-overlay-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.overlay-icon {
    display: inline-block;
    border: 1px solid #ffffff;
}
.basket {
    background-color: #323232;
    opacity: 1;
}
.overlay-icon:hover {
    background-color: #1abc9c;
}
.hover:hover .overlay {
    opacity: 1;
}
/* footer */
footer {
    text-align: center;
    padding: 37px 0;
    background-color: #323232;
}
.footer-line {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.footer-link {
    color: #19bb9b;
    text-transform: none;
}

