.banner {
  text-align: center;
}

.banner-text {
  font-size: 150px;
  line-height: 140px;
  margin: 0 0 112px 0;
  font-family: $font-heading;
  font-weight: 700;
  @extend %text-decoration;
  color: $header-text-color;

  span {
    font-family: $font-span;
    @extend %span;
  }
}

.banner .banner-text span {
  margin-bottom: 10px;
}

.banner button {
  width: 160px;
  height: 40px;
  border: 3px solid $header-text-color;
  background: none;
  margin-bottom: 230px;
  @extend %text-decoration;
  color: $header-text-color;
  font-family: $font-heading;
  font-size: 14px;
}

.banner-text span {
  font-size: 72px;
  color: $header-text-color;
}
