$main-font-stack: "Montserrat", sans-serif;
$secondary-font-stack: "Kaushan Script", cursive;
$font-section: "Roboto", sans-serif;

$main-color: #999999;
$color-white: rgb(255, 255, 255);
$color-grey: rgb(153, 153, 153);
$color-black: rgb(0, 0, 0);
$color-nav: #fce38a;
$color-fon: #333333;
$color-section: #f38181;
$color-section-text: #999999;
$color-bg-blue: #95e1d3;
$color-border-gr: #e5e5e5;
$color-gr: #cccccc;
$gradient-color: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
