.footer {
  margin-top: 80px;
  border-top: 1px solid;
  border-top-color: $color-border-gr;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__text {
  color: $color-fon;
  line-height: 17px;
}

.footer__link {
  text-decoration: none;
  color: $color-fon;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}

.footer__link {
  color: $color-section;
}

form {
  display: flex;
}

form input {
  width: 230px;
  height: 39px;
  font-size: 15px;
  line-height: 24px;
  font-family: $font-section;
  font-style: italic;
  border: 1px solid;
  border-color: $color-border-gr;
  padding-left: 12px;
  color: $color-gr;
  border-right: none;

  &:focus {
    color: $color-black;
  }
}

form button {
  background-color: $color-bg-blue;
  border: none;
  width: 150px;
  height: 39px;
  font-weight: 700;
  color: $color-white;
  text-transform: uppercase;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
}
