.main-nav {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.main-menu {
  width: 51.75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
}

.main-nav__logo {
  font-size: 30px;
  color: $color-white;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
}

.main-menu-link {
  color: $color-white;
  line-height: 17px;
  text-transform: uppercase;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;

  &::after {
    content: '';
    display: block;
    height: 4px;
    background-color: transparent;
    margin: 12px auto 0;
    -webkit-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }

  &:hover {
    color: $color-nav;

    &::after {
      content: '';
      background-color: $color-nav;
    }
  }
}

.main-menu-link, svg {
  fill: $color-white;

  &:hover {
    fill: $color-nav;
  }
}