/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */


@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url(../fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: "KaushanScript-Regular";
    src: url(../fonts/KaushanScript-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* header */

.conteiner {
    width: 100%;
    background: -o-linear-gradient(#f38181e6, #fce38ae6),
        url(../img/eagle.png) no-repeat center/cover;
    background: -webkit-gradient(linear, left top, left bottom, from(#f38181e6), to(#fce38ae6)),
        url(../img/eagle.png) no-repeat center/cover;
    background: linear-gradient(#f38181e6, #fce38ae6),
        url(../img/eagle.png) no-repeat center/cover;

}

.conteiner-header,
.service,
main,
footer {
    width: 1201px;
    margin: 0 auto;
}

a,
.heading-service-item,
.banner-text,
button {
    text-decoration: none;
    text-transform: uppercase;
}

.logo,
.heading-service,
.our-team {
    font-family: "Montserrat-Bold";
    font-weight: 700;
    font-size: 30px;
}

.logo {
    text-transform: none;
    float: left;
    padding: 17px 0 0 0;
}

.logo,
.navigation-item a,
.banner-text,
button {
    color: #ffffff;
}

.header-navigation {
    padding: 34px 0 0 0;
    list-style: none;
    float: right;
}

.header-navigation li:not(:last-child) {
    margin-right: 52px;
}

.header-navigation li:nth-child(6) {
    margin-right: 40px;
}

.navigation-item a {
    padding-bottom: 13px;
}

.navigation-item a,
.heading-service-item {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: 14px;
}

.header-navigation-svg svg {
    width: 18px;
    height: 18px;
    fill: #ffffff;
}

.underscore {
    display: block;
    width: 0%;
    height: 3px;
    background: #fce38a;
    margin: 10px auto 0;
    -webkit-transition-property: width, background;
    -o-transition-property: width, background;
    transition-property: width, background;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
}

.navigation-item a:hover {
    color: #fce38a;
}

.navigation-item a:hover svg {
    fill: #fce38a;
}

.navigation-item:hover .underscore {
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-property: width, background;
    -o-transition-property: width, background;
    transition-property: width, background;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    width: 100%;
}


.navigation-item {
    display: inline-block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    margin-bottom: 122px;
}

.banner {
    text-align: center;
}

.banner-text {
    font-size: 150px;
    line-height: 140px;
    margin-bottom: 112px;
    font-family: "Montserrat-Bold";
    font-weight: 700;

}

.banner .banner-text span {
    margin-bottom: 10px;
}

.banner button {
    width: 160px;
    height: 40px;
    border: 3px solid #ffffff;
    background: none;
    margin-bottom: 230px;

}

/* section service */

.service {
    padding-top: 123px;
}

.banner-text span,
.heading-service span,
.our-team span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-family: "KaushanScript-Regular";
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    margin-bottom: 14px;
    text-transform: none;
}

.banner-text span {
    font-size: 72px;
    color: #ffffff;
}

.heading-service,
.our-team {
    text-align: center;
    color: #333333;
    text-transform: uppercase;
}

.heading-service::after,
.our-team::after {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 35px auto 65px;
}

.service-menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.service-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 381px;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.service-item:not(:nth-child(3n)) {
    margin-right: 20px;
}

.service-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 105px;
}

.heading-service-item {
    margin-bottom: 23px;
    color: #333333;
}

p {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

.service-item::before {
    display: block;
    content: "";
    width: 82px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-clock::before {
    background-image: url(../img/ALARM.svg);
}

.icon-diagram::before {
    background-image: url(../img/LINE_GRAPH.svg);
}

.icon-monitor::before {
    background-image: url(../img/monitor.svg);
}

.icon-page::before {
    background-image: url(../img/book.svg);
}

.icon-house::before {
    background-image: url(../img/HOME.svg);
}

.icon-square::before {
    background-image: url(../img/IMAGE.svg);
}

/* main */

.our-team {
    padding-top: 98px;
}

.team-heading-text {
    width: 980px;
    margin: 0 auto 90px;
}

.box-overlay-icon,
.card-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.card-section,
.footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.card-section {
    padding-bottom: 80px;
}

.box-overlay {
    position: relative;
}

.peaple-img {
    display: block;
}

.overlay-icon {
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    border: 0.5px solid rgba(255, 255, 255, 0%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-clip: padding-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.box-overlay-icon svg {
    width: 26px;
    height: 26px;
    fill: #f38181;
    -webkit-transition: fill 200ms linear;
    -o-transition: fill 200ms linear;
    transition: fill 200ms linear;
}

.name-team,
.position,
.team-heading-text {
    text-align: center;
}

.name-team {
    padding: 30px 0 13px;
}

.name-team {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.position {
    font-weight: 300;
    font-family: "Roboto-LightItalic";
}

.overlay {
    height: 100%;
    width: 380px;
    left: 0;
    top: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -o-linear-gradient(290deg, rgba(243, 129, 129, 0.5), rgba(252, 227, 138, 1));
    background: linear-gradient(160deg, rgba(243, 129, 129, 0.5), rgba(252, 227, 138, 1));
    -webkit-box-shadow: 10px 10px 0 0 #95e1d3;
            box-shadow: 10px 10px 0 0 #95e1d3;
    opacity: 0;

}

.box-overlay:hover {
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
}

.box-overlay:hover .overlay {
    opacity: 1;
}

.overlay-icon:hover {
    background-color: #f38181;
}

.overlay-icon:hover svg {
    fill: #ffffff;
}

/* footer */

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #e5e5e5;
}

.footer-text {
    font-family: "Montserrat-Regular";
    font-size: 14px;
    color: #333333;
    margin: 17px 0 17px;
}

.footer-link {
    color: #f38181;
    text-transform: none;
}

.footer-button {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    font-family: "Montserrat-Bold";
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    background-color: #95e1d3;
    border: 1px solid #95e1d3;
    text-align: center;
    cursor: pointer;
    outline: none;
}

::-webkit-input-placeholder {
    font-family: "Roboto-LightItalic";
    font-size: 15px;
    font-weight: 300;
    color: #cccccc;

}

::-moz-placeholder {
    font-family: "Roboto-LightItalic";
    font-size: 15px;
    font-weight: 300;
    color: #cccccc;

}

:-ms-input-placeholder {
    font-family: "Roboto-LightItalic";
    font-size: 15px;
    font-weight: 300;
    color: #cccccc;

}

::-ms-input-placeholder {
    font-family: "Roboto-LightItalic";
    font-size: 15px;
    font-weight: 300;
    color: #cccccc;

}

::placeholder {
    font-family: "Roboto-LightItalic";
    font-size: 15px;
    font-weight: 300;
    color: #cccccc;

}

.input-email {
    width: 230px;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-right: 1px solid transparent;
    padding-left: 12px;
    outline: none;
}

.form-footer-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {

    .conteiner {
        width: 100%;
        background: -o-linear-gradient(#f38181e6, #fce38ae6),
            url(../img/eagle@2x.png) no-repeat center/cover;
        background: -webkit-gradient(linear, left top, left bottom, from(#f38181e6), to(#fce38ae6)),
            url(../img/eagle@2x.png) no-repeat center/cover;
        background: linear-gradient(#f38181e6, #fce38ae6),
            url(../img/eagle@2x.png) no-repeat center/cover;

    }
}